# Binaries
*.exe
*.dll
*.so
*.dylib
backend/app
backend/syncetf
backend/update_etf_prices
backend/etf-insight
backend/test_build
backend/cmd/syncetf/syncetf
backend/cmd/update_etf_prices/update_etf_prices
backend/cmd/generate_history/generate_history
backend/cmd/test_factory/test_factory
